@font-face {
  font-family: "iconfont"; /* Project id 3972941 */
  src: url('iconfont.woff2?t=1680168101637') format('woff2'),
       url('iconfont.woff?t=1680168101637') format('woff'),
       url('iconfont.ttf?t=1680168101637') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e697";
}

.icon-add:before {
  content: "\e767";
}

.icon-close:before {
  content: "\e807";
}

.icon-open:before {
  content: "\e618";
}

.icon-blog:before {
  content: "\e717";
}

.icon-delete:before {
  content: "\e679";
}

.icon-settings:before {
  content: "\e7dc";
}

.icon-zhuantifuwu:before {
  content: "\e60a";
}

.icon-Password:before {
  content: "\e680";
}

.icon-ACCOUNT:before {
  content: "\e806";
}

